body{
    background: #212121;
}

.meme-generator{
    font-family:sans-serif;
    text-align: center;
    color: aliceblue;
}

.meme-generator img{
    height: 480px;
    object-fit: cover;
}

.meme-generator .generate-meme-btn{
     padding: 8px 20px;
     width: 150px;
     height: 60px;
     border: 3px solid #315cfd;
     border-radius: 45px;
     transition: all 0.3s;
     cursor: pointer;
     background: white;
     font-size: 0.7em;
     font-weight: 550;     
}

.meme-generator .generate-meme-btn:hover{
     background: #315cfd;
     color: white;
     font-size: 0.8em;
}

.meme-generator .meme-author{
    margin:8px;
}